{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "dynamicImport": true,
      "importAssertions": true
    },
    "transform": {
      "react": {
        "runtime": "automatic"
      }
    },
    "target": "es2022",
    "experimental": {
      "plugins": [["@lingui/swc-plugin", {}]]
    }
  }
}
